.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.live {
  animation: blink 0.8s ease-in 0s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.usernameAnimation {
  animation: username 0.5 ease-in 0.2 1;
}

@keyframes username {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(300px);
  }
}
