.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.live {
  animation: blink 0.8s ease-out 0s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
